<h2>NPR Science Page</h2>

<button class="btn btn-success" id="scrape">Scrape New Articles!</button>
<br>

{{#each article}}
    {{> article-block}}
{{/each}}


<script src="/assets/js/main.js"></script>